<div class="weui-flex">
	<div class="muzey-overflow-left" style="height: {{topHeight}}">
		<div class="weui-cells classify-background">
			<div class="weui-cell muzey-pitch">
				<div class="weui-cell__bd">
					<p>食品生鲜</p>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__bd">
					<p>水果</p>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__bd">
					<p>蔬菜</p>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__bd">
					<p>粮油调料</p>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__bd">
					<p>熟食面点</p>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__bd">
					<p>粮油调料</p>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__bd">
					<p>粮油调料</p>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__bd">
					<p>粮油调料0</p>
				</div>
			</div>
		</div>
	</div>
	<div class="muzey-overflow-right" style="height: {{topHeight}}">
		<div class="weui-grids">
			<a href="" class="weui-grid js_grid">
				<div class="muzey-grid">
					<img src="resource/images/坚果.jpg" alt="">
				</div>
				<p class="weui-grid__label">坚果</p>
			</a> <a href="" class="weui-grid js_grid">
				<div class="muzey-grid">
					<img src="resource/images/icon_nav_cell.png" alt="">
				</div>
				<p class="weui-grid__label">List</p>
			</a> <a href="" class="weui-grid js_grid">
				<div class="muzey-grid">
					<img src="resource/images/icon_nav_cell.png" alt="">
				</div>
				<p class="weui-grid__label">Form</p>
			</a> <a href="" class="weui-grid js_grid">
				<div class="muzey-grid">
					<img src="resource/images/icon_nav_cell.png" alt="">
				</div>
				<p class="weui-grid__label">Flex</p>
			</a> <a href="" class="weui-grid js_grid">
				<div class="muzey-grid">
					<img src="resource/images/icon_nav_toast.png" alt="">
				</div>
				<p class="weui-grid__label">Toast</p>
			</a> <a href="" class="weui-grid js_grid">
				<div class="muzey-grid">
					<img src="resource/images/icon_nav_dialog.png" alt="">
				</div>
				<p class="weui-grid__label">Dialog</p>
			</a> <a href="" class="weui-grid js_grid">
				<div class="muzey-grid">
					<img src="resource/images/icon_nav_progress.png" alt="">
				</div>
				<p class="weui-grid__label">Progress</p>
			</a> <a href="" class="weui-grid js_grid">
				<div class="muzey-grid">
					<img src="resource/images/icon_nav_msg.png" alt="">
				</div>
				<p class="weui-grid__label">Msg</p>
			</a> <a href="" class="weui-grid js_grid">
				<div class="muzey-grid">
					<img src="resource/images/icon_nav_article.png" alt="">
				</div>
				<p class="weui-grid__label">Article</p>
			</a>
		</div>
	</div>
</div>