<div class="weui-grids">
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="resource/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui-grid__label">
          Button
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="resource/images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-grid__label">
          List
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="resource/images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-grid__label">
          Form
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="resource/images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-grid__label">
          Flex
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="resource/images/icon_nav_toast.png" alt="">
        </div>
        <p class="weui-grid__label">
          Toast
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="resource/images/icon_nav_dialog.png" alt="">
        </div>
        <p class="weui-grid__label">
          Dialog
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="resource/images/icon_nav_progress.png" alt="">
        </div>
        <p class="weui-grid__label">
          Progress
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="resource/images/icon_nav_msg.png" alt="">
        </div>
        <p class="weui-grid__label">
          Msg
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="resource/images/icon_nav_article.png" alt="">
        </div>
        <p class="weui-grid__label">
          Article
        </p>
      </a>
    </div>
    
    <div class="weui-tabbar">
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item--on">
      <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
      <div class="weui-tabbar__icon">
        <img src="resource/images/icon_nav_button.png" alt="">
      </div>
      <p class="weui-tabbar__label">微信</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <img src="resource/images/icon_nav_msg.png" alt="">
      </div>
      <p class="weui-tabbar__label">通讯录</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <img src="resource/images/icon_nav_article.png" alt="">
      </div>
      <p class="weui-tabbar__label">发现</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <img src="resource/images/icon_nav_cell.png" alt="">
      </div>
      <p class="weui-tabbar__label">我</p>
    </a>
  </div>