<div class="muzey-bd">
	<div class="muzey-head">
		<div class="weui-flex">
			<div class="weui-flex__item">
				<img class="muzey-head-circle" ng-src="resource/images/我2.png">
				<span class="muzey-head-login">登陆/注册</span>
			</div>
		</div>
	</div>
	<div class="weui-flex muzey-btn-row">
		<div class="weui-flex__item">
			<img src="resource/images/小区2.png" alt="">
			<p class="weui-grid__label">小区</p>
		</div>
		<div class="weui-flex__item">
			<div class="weui-flex__item">
				<img src="resource/images/待收货2.png" alt="">
				<p class="weui-grid__label">待收货</p>
			</div>
		</div>
		<div class="weui-flex__item">
			<div class="weui-flex__item">
				<img src="resource/images/订单.png" alt="">
				<p class="weui-grid__label">订单</p>
			</div>
		</div>
		<div class="weui-flex__item">
			<div class="weui-flex__item">
				<img src="resource/images/余额.png" alt="">
				<p class="weui-grid__label">余额</p>
			</div>
		</div>
	</div>
	<div class="weui-cells muzey-top0">
		<a class="weui-cell weui-cell_access" href="javascript:;">
				<div class="weui-cell__hd">
					<img src="resource/images/余额4.png">
				</div>
				<div class="weui-cell__bd">
					<p>优惠券</p>
				</div>
				<div class="weui-cell__ft"></div>
		</a> <a class="weui-cell weui-cell_access" href="javascript:;">
				<div class="weui-cell__hd">
					<img src="resource/images/余额4.png">
				</div>
				<div class="weui-cell__bd">
					<p>我的活动</p>
				</div>
				<div class="weui-cell__ft"></div>
		</a> <a class="weui-cell weui-cell_access" href="javascript:;">
				<div class="weui-cell__hd">
					<img src="resource/images/余额4.png">
				</div>
				<div class="weui-cell__bd">
					<p>收藏商品</p>
				</div>
				<div class="weui-cell__ft"></div>
		</a> <a class="weui-cell weui-cell_access" href="javascript:;">
				<div class="weui-cell__hd">
					<img src="resource/images/余额4.png">
				</div>
				<div class="weui-cell__bd">
					<p>联系我们</p>
				</div>
				<div class="weui-cell__ft"></div>
		</a>
	</div>
</div>
