body,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: microsoft yahei,"宋体" !important;
}
input, textarea, select {
    outline:medium;
}
button {
    outline: none;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.clear-float {
    clear: both;
}

.table>tbody>tr>td{
    vertical-align:middle!important;
}

.content-wrapper {
    position: relative;
}

.top_search_bar {
    min-height: 45px;
    background: #FFFFFF;
    border-left: 5px solid #3b3b3b;
    padding: 10px;
    margin-bottom: 5px;
}

.control_container {
    float: left !important;
    display: inline-block;
    margin-right: 20px;
    height: 100%;
    margin-bottom: 5px;
}

.display_inline {
    display: inline-block !important;
}

.float_left {
    float: left !important;
}

.float_right {
    float: right !important;
}

.text_align_right {
    text-align: right;
}

.text_align_left {
    text-align: left;
}

.myCheckBox {
    width: 20px;
    height: 20px;
    border: 1px solid #999999;
}

.item_row {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.myTextBox {
    border-radius: 4px !important;
}

.button_bar {
    position: absolute;
    height: 60px;
    width: 100%;
    background: #FFF8DC;
    border-top: 1px solid #ccc;
    bottom: 0;
    left: 0;
    line-height: 60px;
    text-align: right;
    padding-right: 30px;
}

.list_bar {
    border: 1px solid #808080;
}

.list_bar th {
    font-size: 12px !important;
}
.list_bar td {
    /*line-height: 33px !important;*/
    height: 25px !important;
    font-size: 12px !important;
    vertical-align:middle !important;
    padding: 0px 5px !important;
}

.chart_table {
    border: 1px solid #999;
}

.chart_table th {
    height: 30px;
    padding: 3px;
    background-color: #87CEFF;
    color: #fff;
}

.chart_table td{
    background-color: #fff;
    height: 30px;
}

.chart_table th, .chart_table td{
    border: 1px solid #999;
    text-align: center;
}

.title_row td{
    height:25px;
    background: #9BCD9B;
}

.warnning {
    background-color: #f2dede !important;
}

.warnningCount {
    color: red;
}

.modal-dialog-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9997;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg {
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    opacity: 0.1;
    background: #000000;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btnDownload {
    cursor: pointer;
}

.btnForbidden {
    cursor: not-allowed;
}


.modal-body {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    margin-right: 5px;
}

.popup {
    margin-left: auto;
    margin-right: auto;
    z-index:100;
    width: 90%;
    height:90%;
}

.modal-content {
    height: 100%;
    overflow: hidden;
}

.modal-header {
    height: 40px;
}

.modal-footer {
    position: absolute;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: #FFF8DC;
    border-top: 1px solid #ccc;
    bottom: 0;
    left: 0;
    text-align: right;
    padding: 0;
    padding-right: 30px;
}

.inputBar, .modal-body .inputBar, .popup .inputBar {
    min-height: 30px;
    margin-bottom: 10px;
}

.dialog {
    margin-left: auto;
    margin-right: auto;
    z-index:10001;
    width: 400px;
    height:200px;
}

.dialog-bg {
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    opacity: 0.1;
    background: #000000;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dialog .modal-content {
    height: 100%;
}

.dialog .modal-body {
    text-align: center;
    padding-top: 30px;
}

.dialog .modal-header {
    height: 40px;
}

.dialog .modal-footer {
    position: absolute;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: #FFF8DC;
    border-top: 1px solid #ccc;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 0;
}

.dialog .modal-footer button {
    width: 70px;
}

/*date-input, date-input-double {
    display: inline-block;
}*/

.serviceLoading {
  width: 250px;
  height: 90px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -50px 0px 0px -100px;
  z-index: 9999;
  padding: 20px;
}
.serviceLoading p {
  padding: 5px;
  font-family: "MicroSoft YaHei";
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-family: Arial;
}
.serviceLoadingBg {
  width: 100%;
  /*height: 100%;*/
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9998;
}

.spinner {
  margin: 0px auto;
  height: 50px;
  text-align: center;
}
.spinner > div {
  background-color: #3BC0C3;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.spinner .rect6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.spinner .rect7 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.spinner .rect8 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.spinner .rect9 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.mustInputCaption {
    border-left: 5px solid red !important;
}

.my-bg-green {
    background-color: #8FBC8F !important;
    color: #ffffff;
}

.my-bg-pink{
    background-color: #FFE4E1 !important;
}

.input-group-btn .btn {
    padding: 5px 10px;
}

.attachment-border {
    width: 130px; height:130px; overflow:hidden; margin-left: auto; margin-right: auto;
    margin-top: 20px;
}
.login-box {
    border: 1px solid !important;
    background: #3b3b3b;
    height: 400px;
    width: 500px;
}
.login-logo {
    color: #fff;
    height: 100px;
    line-height: 100px;
    margin: 0;
}
.login-box-body {
    background: #3b3b3b;
}

.login-box-body input,.login-box-body .glyphicon,.login-box-body button{
    height: 50px;
    font-size: 16px;
}

.login-box-body .form-control-feedback {
    line-height: 50px;
}

.timeline-item td{
    line-height: 28px !important;
}

.select-btn {
    background: #fff;
    border: 1px solid #3b3b3b;
    height: 30px;
    overflow:hidden;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    padding: 0 10px;
    float:left;
}

/*.select-btn:hover {
    background: #3b3b3b !important;
    border: 1px solid #3b3b3b;
    color: #fff;
}*/

.select-btn-active {
    background: #3b3b3b !important;
    border: 1px solid #3b3b3b;
    color: #fff;
}

.select-btn-disabled {
    background: #eee;
    border: 1px solid #3b3b3b;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    padding: 0 10px;
    float:left;
    cursor: not-allowed;
}

.select-row {
    background: #B4EEB4 !important;
    color: #3b3b3b !important;
}

.head-title {
    height: 100%;
    width: 80px;
    line-height: 50px;
    display: inline-block;
    padding-left: 20px;
    font-size: 16px;
    color: #fff;
}

.left-menu {
    height: 100%;
    overflow-y: auto;
    position: absolute;
    width: 200px;
    left: -200px;
    top: 46px;
    bottom: 0;
    background: #222d32;
    padding-top: 20px;
    padding-bottom: 60px;
    z-index:20000;
}

.left-menu-item-title {
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 10px;
    color: #fff;
    cursor: pointer;
}

.left-menu-item-title:hover {
    background: #1a2226;
}
.left-menu-item ul {
    background: #2c3b41;
}

.left-menu-item li {
    height: 30px;
    line-height: 30px;
    padding-left: 35px;
    color: #fff;
    cursor: pointer;
}

.left-menu-item li:hover {
    background-color: #454545;
}

.fa-ban {
    color: #f39c12;
}

.bg-nomal {
    background: #383838;
    color: #fff;
}

.bg-error {
    background: #FA8072;
    color: #fff;
}

.bg-warning {
    background: ##FFA54F;
    color: #fff;
}