<style>
    .schedule {
        margin-left: auto;
        margin-right: auto;
        border-top: 0;
        background: #fff;
    }
    .schedule th {
        height: 30px;
        border: 1px solid #3b3b3b;
        background: #EE3A8C;
        color: #fff;
        text-align: center;
        border-top: 2px solid #3b3b3b;
    }
    .schedule td {
        border: 1px solid #3b3b3b;
        border-top: 0;
        font-size: 10px;
        text-align: center;
    }

    .schedule .base-info {
        /*background: #4169E1;*/
        width: 100px;
        border: 2px solid #3b3b3b;
        border-top: 1px;
        border-right: 1px;
    }
    .opItem {
        margin: 3px;
        display: inline-block;
        width: 25px;
    }

    .timeItem {
        table-layout: fixed;
        width: 100%;
    }
    
    .timeItem td {
        height: 25px;
        line-height: 25px;
    }

    .td-begin {
        background-color: #C1FFC1;
    }

    .td-complete {
        background-color: #BFEFFF;
    }
</style>
<div>
    <div class="top_search_bar" id="validate">
        <combbox caption="产线" ng-model="condition.productLine" list="productLineList" width="200" mustinput="true"></combbox>
        <button type="button" class="btn bg-blue" style="margin-left:20px" ng-click="onImport()"><i class="fa fa-cloud-upload"></i>&nbsp;导入计划</button>
        <button type="button" class="btn bg-green" style="margin-left:20px" ng-click="preWeek()"><i class="fa fa-arrow-circle-left"></i>&nbsp;上一周</button>
        <button type="button" class="btn bg-green" style="margin-left:20px" ng-click="thisWeek()"><i class="fa fa-arrows-alt"></i>&nbsp;本周</button>
        <button type="button" class="btn bg-green" style="margin-left:20px" ng-click="nextWeek()"><i class="fa fa-arrow-circle-right"></i>&nbsp;下一周</button>
        <div style="clear:both;"></div>
    </div>
    <table class="schedule" style="table-layout:fixed; width: 100%;">
        <tr>
            <th width="120" style="border-left: 2px solid #3b3b3b; border-right: 2px solid #3b3b3b;">岗位</th>
            <th width="100">时间</th>
            <th class="this-week">周一<br />{{dateList[0]}}</th>
            <th class="this-week">周二<br />{{dateList[1]}}</th>
            <th class="this-week">周三<br />{{dateList[2]}}</th>
            <th class="this-week">周四<br />{{dateList[3]}}</th>
            <th class="this-week">周五<br />{{dateList[4]}}</th>
            <th class="this-week">周六<br />{{dateList[5]}}</th>
            <th class="this-week">周日<br />{{dateList[6]}}</th>
            <th class="next-week">周一<br />{{dateList[7]}}</th>
            <th class="next-week">周二<br />{{dateList[8]}}</th>
            <th class="next-week">周三<br />{{dateList[9]}}</th>
            <th class="next-week">周四<br />{{dateList[10]}}</th>
            <th class="next-week">周五<br />{{dateList[11]}}</th>
            <th class="next-week">周六<br />{{dateList[12]}}</th>
            <th class="next-week" style="border-right: 2px solid #3b3b3b;">周日<br />{{date[13]}}</th>
        </tr>
        <tr ng-repeat="station in scheduleList">
            <td class="base-info " style="background-color:{{station.color}}">
                {{station.StationCode}}<br />{{station.StationName}}
            </td>
            <td colspan="15">
                <table class="timeItem">
                    <tr ng-repeat="detail in station.detailList">
                        <td>{{detail.time}}</td>
                        <td ng-class="{'td-begin': serialItem.Status=='begin', 'td-complete': serialItem.Status=='complete'}"
                            ng-repeat="serialItem in detail.serialItemList track by $index">
                            {{serialItem.SerialNo?serialItem.SerialNo:"--"}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<file-upload show="showImport" attachlist="attachList" import="import()" cancel="cancelImport()"></file-upload>