<div class="top_search_bar" id="validate1">
    <text-box-normal caption="加工序列号" ng-model="condition.SerialNo" width="190"></text-box-normal>
    <assembly ng-model="condition.AssemblyItem" after-select="onAssemblyChange(item)" productline="productline"></assembly>
    <combbox caption="MOC类型" ng-model="condition.MocType" list="mocTypeList" width="250" on-change="mocTypeChange(val)"></combbox>
    <combbox caption="MOC子类型" ng-model="condition.MocSubType" list="mocSubTypeList" width="250"></combbox>
    <button type="button" class="btn bg-maroon" ng-click="onResearch()"><i class="fa fa-search"></i>&nbsp;检索</button>
    <div style="clear:both;"></div>
</div>
<div>
    <pagegridview config="config" list="mocList" add="add()" edit="edit(item)" remove="delete(items)"
                  refresh="onResearch()"
                  pagechange="onPageChange(val)"  rowcount="{{more.size}}" totalrowcount="totalCount"></pagegridview>

</div>
<moc-edit after-commit="afterCommit(res)"></moc-edit>