<popup width="1100" height="550" title="QP信息" show="show">
    <div class="modal-body" id="validate">
        工序：<br />
        <div class="op-list-bar">
            <button class="select-btn" ng-repeat="op in opList track by $index"
                    ng-class="{'select-btn-active':opNo==op.OpNo}"
                    ng-click="opSelect(op)">
                {{op.OpNo}}
            </button>
            <div style="clear: both;"></div>
        </div>
        <div ng-if="qpList && qpList.length>0">
            <pagegridview config="config" list="qpList" ng-disabled="true"
                          refresh="refresh()"
                          pagechange="onPageChange(val)" rowcount="{{more.size}}" totalrowcount="totalRowCount"></pagegridview>
        </div>
</popup>