<link href="Resource/Css/Page/P003PM/P003PM007_JobModify.css" rel="stylesheet" />
<div class="top_search_bar" id="validate">
    <text-box-normal caption="加工序列号" ng-model="condition.SerialNo" width="200" mustinput="true"></text-box-normal>
    <text-box-normal caption="员工SSO" ng-model="condition.OperatorSSO" width="200" mustinput="true"></text-box-normal>
    <button type="button" class="btn bg-blue" ng-click="search()"><i class="fa fa-search"></i>&nbsp;检索</button>
</div>
<div>
    <pagegridview config="config" list="laborList" ng-disabled="true"
                  refresh="search()"
                  btnicon1="fa-pencil-square-o"
                  btnclick1="edit(item)"
                  rowcount="1000" totalrowcount="totalRowCount"></pagegridview>
</div>
<job-modify></job-modify>