<style>
    .schedule {
        margin-left: auto;
        margin-right: auto;
        border-top: 0;
        background: #fff;
    }
    .schedule th {
        height: 30px;
        border: 1px solid #3b3b3b;
        color: #fff;
        text-align: center;
        width: 120px;
    }
    .schedule td {
        border: 1px solid #3b3b3b;
        border-top: 0;
        width: 120px;
        text-align: center;
        padding: 5px;
    }
        .schedule td .control_container {
            float: none !important;
            display: normal !important;
            margin: 0 !important;
        }

        .schedule .base-info {
            background: #FFF68F;
        }

    .td-begin {
        background-color: #C1FFC1;
    }

    .td-complete {
        background-color: #BFEFFF;
    }
    .this-week {
        background-color: #6CA6CD;
    }
    .weekend {
        background-color: #FF6347;
    }

    .coloricon {
        height: 15px;
        width: 15px;
        float: left;
        margin-right: 10px;
        border: 1px solid #3b3b3b;
    }

    .colordesc {
        float: left;
        margin-right: 10px;
    }
</style>
<div>
    <div class="top_search_bar" id="validate">
        <combbox caption="产品" ng-model="condition.AssemblyItem" list="assemblyList" width="300" mustinput="true" on-change="assemblyChange(val)"></combbox>
        <button type="button" class="btn bg-blue" style="margin-left:20px" ng-click="onImport()"><i class="fa fa-floppy-o"></i>&nbsp;保存计划</button>
        <button type="button" class="btn bg-green" style="margin-left:20px" ng-click="preWeek()"><i class="fa fa-arrow-circle-left"></i>&nbsp;上一周</button>
        <button type="button" class="btn bg-green" style="margin-left:20px" ng-click="thisWeek()"><i class="fa fa-arrows-alt"></i>&nbsp;本周</button>
        <button type="button" class="btn bg-green" style="margin-left:20px" ng-click="nextWeek()"><i class="fa fa-arrow-circle-right"></i>&nbsp;下一周</button>
        <button type="button" class="btn bg-maroon" style="margin-left:20px" ng-click="getRoutingSheet()"><i class="fa fa-cloud-download"></i>&nbsp;导出RoutingSheet</button>
        <div style="float: right; height: 100%;">
            <span class="coloricon"></span>
            <span class="colordesc">未开始</span>
            <span class="coloricon td-begin"></span>
            <span class="colordesc">已开始</span>
            <span class="coloricon td-complete"></span>
            <span class="colordesc">已完成</span>
        </div>
        <div style="clear:both;"></div>
    </div>
    <table class="schedule" style="table-layout:fixed; width: 100%">
        <tr>
            <th style="background: #EE3A8C">工序</th>
            <th style="background: #EE3A8C">工序描述</th>
            <th class="this-week">周一<br />{{dateList[0]}}</th>
            <th class="this-week">周二<br />{{dateList[1]}}</th>
            <th class="this-week">周三<br />{{dateList[2]}}</th>
            <th class="this-week">周四<br />{{dateList[3]}}</th>
            <th class="this-week">周五<br />{{dateList[4]}}</th>
            <th class="weekend">周六<br />{{dateList[5]}}</th>
            <th class="weekend">周日<br />{{dateList[6]}}</th>
        </tr>
        <tr ng-repeat="op in opList">
            <td class="base-info ">
                {{op.OpNo}}
            </td>
            <td class="base-info ">
                {{op.OpDesc}}
            </td>
            <td ng-repeat="obj in op.detailList"
                ng-class="{'td-begin': (obj.CompleteCount>0||obj.BeginCount>0)&&obj.CompleteCount<obj.PlanCount, 'td-complete': obj.CompleteCount>0&&obj.CompleteCount>=obj.PlanCount}">
                <span ng-if="obj.CompleteCount>0||obj.BeginCount>0">{{obj.CompleteCount}}/{{obj.PlanCount}}</span>
                <text-box-number ng-model="obj.PlanCount" ng-if="obj.CompleteCount<=0&&obj.BeginCount<=0"></text-box-number>
            </td>
        </tr>
    </table>
</div>