<link href="Resource/Css/Page/P003PM/P003PM001_JobManage.css" rel="stylesheet" />
<div class="top_search_bar" id="validate">
    <button class="select-btn" ng-class="{'select-btn-active': unSynchronize}" ng-click="unSynchronizeClick()">显示未同步的工单</button>
    <table>
        <tr ng-if="!unSynchronize">
            <td>
                <combbox caption="产线" ng-model="condition.productLine" list="productLineList" width="200" mustinput="true"></combbox>
                <text-box-number caption="年度" ng-model="condition.year" width="120" mustinput="true"></text-box-number>
                <combbox caption="月份" ng-model="condition.month" list="monthList" width="120"></combbox>
                <div style="clear:both;"></div>
            </td>
            
        </tr>
        <tr ng-if="!unSynchronize">
            <td>
                <text-box-normal caption="工单号" ng-model="condition.jobNo" width="150"></text-box-normal>
                <text-box-normal caption="加工序列号" ng-model="condition.serialNo" width="200"></text-box-normal>
                <combbox caption="状态" ng-model="condition.jobStatus" list="statusList" width="140"></combbox>
                <button type="button" class="btn bg-blue" ng-click="search()"><i class="fa fa-search"></i>&nbsp;检索</button>
                <div style="clear:both;"></div>
            </td>
        </tr>
        <tr ng-if ="unSynchronize">
            <td style="height: 33px;">
                <button type="button" class="btn bg-green" ng-click="freshUnSynchronize()"><i class="fa fa-refresh"></i>&nbsp;刷新</button>
                <button type="button" class="btn bg-blue" ng-click="synchronizeFromERP()"><i class="fa fa-exchange"></i>&nbsp;同步ERP数据</button>
            </td>
        </tr>
    </table>
</div>
<div ng-if="!unSynchronize">
    <div class="job-row" ng-repeat="job in jobList track by $index">
        <div class="job-row-main" ng-click="showDetail(job)">
            <span class="job-cell index bg-maroon">{{$index+1}}</span>
            <span class="job-cell btn-plus"><i class="fa" ng-class="{'fa-minus-square':job.showDetail, 'fa-plus-square':!job.showDetail }"></i></span>
            <span class="job-cell JobNo">工单号<br />{{job.JobNo}}</span>
            <span class="job-cell AssemblyItem">产品号<br />{{job.AssemblyItem}}</span>
            <span class="job-cell Quantity">完成量/数量<br />{{job.CompleteQuantity}}/{{job.JobQuantity}}</span>
            <span class="job-cell JobBatchSize">批量<br />{{job.JobBatchSize}}</span>
            <span class="job-cell ReleasedDate">下发时间<br />{{job.ReleasedDate}}</span>
            <span class="job-cell StartDate">开始时间<br />{{job.StartDate}}</span>
            <span class="job-cell CompleteDate">结束时间<br />{{job.CompleteDate}}</span>
            <span class="job-cell JobStatus">状态<br />{{job.JobStatusName}}</span>
        </div>
        <table class="detailData" ng-if="job.showDetail">
            <tr>
                <th class="SerialNo">加工序列号</th>
                <th class="Assembly">产品</th>
                <th class="RealBeginDate">开始时间</th>
                <th class="RealEndDate">结束时间</th>
                <th class="LaborHour">总工时</th>
                <th class="Status">状态</th>
                <th class="Buttons"></th>
            </tr>
            <tr ng-repeat="detail in job.detailList">
                <td>{{detail.SerialNo}}</td>
                <td>{{detail.AssemblyDesc}}</td>
                <td>{{detail.RealBeginDate.length>0?detail.RealBeginDate:'--'}}</td>
                <td>{{detail.RealEndDate.length>0?detail.RealEndDate:'--'}}</td>
                <td>{{detail.LaborHour}}</td>
                <td>{{detail.StatusName}}</td>
                <td style="text-align: right;">
                    <button class="btn bg-blue" ng-if="detail.LineType=='Elec'" ng-click="acl(detail)">ACL</button>
                    <button class="btn bg-blue" ng-if="detail.LineType=='Machi'" ng-click="qp(detail)">QP</button>
                    <button class="btn bg-blue" ng-if="detail.LineType=='Elec'" ng-click="qe(detail)">QE</button>
                    <button class="btn bg-blue" ng-if="detail.LineType=='Elec'" ng-click="keyPart(detail)">关键件</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div ng-if="unSynchronize">
    <div class="job-row" ng-repeat="job in jobUnSynchronizeList">
        <div class="job-row-main" ng-click="showUnSynchronizeDetail(job)">
            <span class="job-cell btn-plus"><i class="fa" ng-class="{'fa-minus-square':job.showDetail, 'fa-plus-square':!job.showDetail }"></i></span>
            <span class="job-cell JobNo">工单号<br />{{job.JobNo}}</span>
            <span class="job-cell Quantity">数量<br />{{job.JobQuantity}}</span>
            <span class="job-cell JobBatchSize">批量<br />{{job.JobBatchSize}}</span>
            <span class="job-cell ReleasedDate">下发时间<br />{{job.ReleasedDate}}</span>
            <span class="job-cell JobStatus">状态<br />{{job.JobStatusName}}</span>
        </div>
        <table class="detailData" ng-if="job.showDetail">
            <tr>
                <th class="SerialNo">加工序列号</th>
                <th class="AssemblyItem">产品号</th>
                <th class="AssemblyItem">数量</th>
            </tr>
            <tr ng-repeat="detail in job.detailList">
                <td>{{detail.SerialNo}}</td>
                <td>{{detail.AssemblyItem}}</td>
                <td>{{job.JobBatchSize}}</td>
            </tr>
        </table>
    </div>
</div>
<aclview></aclview>
<qeview></qeview>
<qpview></qpview>
<keypartview></keypartview>