
.skill {
    border-top: 0;
    background: #fff;
    table-layout: fixed;
    width: 100%;
}

    .skill th {
        height: 30px;
        border: 1px solid #3b3b3b;
        background: #3b3b3b;
        color: #fff;
        text-align: center;
        border-top: 2px solid #3b3b3b;
    }

    .skill td {
        border: 1px solid #3b3b3b;
        border-top: 0;
        font-size: 10px;
        text-align: center;
        line-height: 15px;
        padding: 5px;
    }

    .skill .warning {
        background: #EE3A8C !important;
        color: #fff !important;
    }
