.placeholder {
	text-align: center;
	padding: 0 10px;
}

.classify-background {
	background-color: #ebebeb !important;
	margin-top: 0 !important;
}

.muzey-top0 {
	margin-top: 0 !important;
}

.muzey-fixed-bottom {
	bottom: 0 !important;
}

.muzey-overflow-background {
	width: 100%;
}

.muzey-overflow-left {
	overflow: auto;
	text-align: center;
}

.muzey-overflow-right {
	overflow: auto;
	text-align: center;
}

.muzey-pitch {
	color: #f6383a;
	background-color: #fff;
}

.muzey-pitch {
	color: #f6383a;
	background-color: #fff;
}

.muzey-grid {
	margin: 0 auto;
}

.muzey-grid img {
	display: block;
	width: 100%;
	height: 100%;
}

.muzey-font-placeholder {
	color: #999;
	font-size: 12.5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.muzey-font-money {
	color: #F44336;
	font-size: 19px;
}

.muzey-head {
	padding: 25px 0;
	background-color: #32a4ff;
	padding-left: 20px;
}

.muzey-head-circle {
	width: 80px;
	height: 80px;
	background-color: #ffffff;
	border-radius: 40px;
}

.muzey-head-login {
	position: relative;
	top: -30px;
	margin-left: 15px;
	background: #ffffff;
	padding: 5px;
	font-size: 13px;
	border-radius: 10px;
}

.muzey-btn-row {
	text-align: center;
	margin-top: 7px;
	margin-bottom: 7px;
	background-color: #FFFFFF;
	padding-top: 10px;
}

.muzey-bd {
	background-color: #f2f2f2;
	height: 100%
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.muzey-img-auto{
	width: 100%;  
    height: 100%;    
}

.classify-font {
	color: #FFC107 !important;
}