<div class="top_search_bar" id="validate1">
    <combbox caption="产线" ng-model="req.ProductLine" list="productLineList" width="200"></combbox>
    <date-input-double caption="时间" datefrom="req.dateS" dateto="req.dateE"></date-input-double>
    <combbox caption="类型" ng-model="req.AndonType" list="andonTypeList" width="140"></combbox>
    <combbox caption="等级" ng-model="req.AcknowledgeLevel" list="levelList" width="140"></combbox>
    <combbox caption="状态" ng-model="req.Status" list="statusList" width="140"></combbox>
    <button type="button" class="btn bg-blue" ng-click="onResearch()"><i class="fa fa-search"></i>&nbsp;检索</button>
    <div style="clear:both;"></div>
</div>
<div>
    <pagegridview config="config" list="andonList" add="add()" edit="edit(item)"
                  refresh="refresh()" remove="onDelete(items)"
                  pagechange="pageChange(val)" rowcount="{{more.size}}" totalrowcount="totalrowcount"></pagegridview>
    
</div>
<andon-edit-form after-commit="afterCommit(res)"></andon-edit-form>