<style>
    .kanban_bar {
        width: 100%;
    }
    .kanban_row {
        height: 150px;
        width: 32%;
        float: left;
        background: #fff;
        padding: 0 15px;
        margin: 0 0 10px 10px;
    }
    .kanban_row_title {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #ccc;
    }

    .kanban_type {
        height: 25px;
        padding: 5px 15px;
        font-size: 15px;
    }

    .product_name {
        font-size: 20px;
        font-weight: bold;
    }

    .time {
        font-size: 15px;
        /*color: #00C5CD;*/
        float: right;
    }

    .kanban_row_content {
        height: 60px;
        padding-top: 10px;
        font-size: 18px;

    }

    .op {
        /*color: #00C5CD;*/
    }

    .foot_info {
        margin-left: 100px;
        float: right;
    }
</style>
<div>
    <div class="kanban_bar">
        <div class="kanban_row">
            <div class="kanban_row_title">
                <span class="kanban_type bg-aqua">领料单</span>
                <span class="product_name">DAT 2.5</span>
                <span class="time"><i class="fa fa-clock-o"></i>&nbsp;2017-10-10 12:10</span>
            </div>
            <div class="kanban_row_content">
                XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            </div>
            <div class="kanban_row_foot">
                <span class="foot_info"><span class="op"><i class="fa fa-user"></i>&nbsp;发起人</span><br />XXXXXXXX</span>
                <span class="foot_info"><span class="op"><i class="fa fa-map-marker"></i>&nbsp;工序</span><br />OPXXX</span>
            </div>
        </div>
        <div class="kanban_row">
            <div class="kanban_row_title">
                <span class="kanban_type bg-maroon">缺料单</span>
                <span class="product_name">DAT 2.5</span>
                <span class="time"><i class="fa fa-clock-o"></i>&nbsp;2017-10-10 12:10</span>
            </div>
            <div class="kanban_row_content">
                XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            </div>
            <div class="kanban_row_foot">
                <span class="foot_info"><span class="op"><i class="fa fa-user"></i>&nbsp;发起人</span><br />XXXXXXXX</span>
                <span class="foot_info"><span class="op"><i class="fa fa-map-marker"></i>&nbsp;工序</span><br />OPXXX</span>
            </div>
        </div>
        <div class="kanban_row">
            <div class="kanban_row_title">
                <span class="kanban_type bg-aqua">领料单</span>
                <span class="product_name">DAT 2.5</span>
                <span class="time"><i class="fa fa-clock-o"></i>&nbsp;2017-10-10 12:10</span>
            </div>
            <div class="kanban_row_content">
                XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            </div>
            <div class="kanban_row_foot">
                <span class="foot_info"><span class="op"><i class="fa fa-user"></i>&nbsp;发起人</span><br />XXXXXXXX</span>
                <span class="foot_info"><span class="op"><i class="fa fa-map-marker"></i>&nbsp;工序</span><br />OPXXX</span>
            </div>
        </div>
        <div class="kanban_row">
            <div class="kanban_row_title">
                <span class="kanban_type bg-aqua">领料单</span>
                <span class="product_name">DAT 2.5</span>
                <span class="time"><i class="fa fa-clock-o"></i>&nbsp;2017-10-10 12:10</span>
            </div>
            <div class="kanban_row_content">
                XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            </div>
            <div class="kanban_row_foot">
                <span class="foot_info"><span class="op"><i class="fa fa-user"></i>&nbsp;发起人</span><br />XXXXXXXX</span>
                <span class="foot_info"><span class="op"><i class="fa fa-map-marker"></i>&nbsp;工序</span><br />OPXXX</span>
            </div>
        </div>
        <div class="kanban_row">
            <div class="kanban_row_title">
                <span class="kanban_type bg-maroon">缺料单</span>
                <span class="product_name">DAT 2.5</span>
                <span class="time"><i class="fa fa-clock-o"></i>&nbsp;2017-10-10 12:10</span>
            </div>
            <div class="kanban_row_content">
                XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            </div>
            <div class="kanban_row_foot">
                <span class="foot_info"><span class="op"><i class="fa fa-user"></i>&nbsp;发起人</span><br />XXXXXXXX</span>
                <span class="foot_info"><span class="op"><i class="fa fa-map-marker"></i>&nbsp;工序</span><br />OPXXX</span>
            </div>
        </div>
        <div class="kanban_row">
            <div class="kanban_row_title">
                <span class="kanban_type bg-maroon">缺料单</span>
                <span class="product_name">DAT 2.5</span>
                <span class="time"><i class="fa fa-clock-o"></i>&nbsp;2017-10-10 12:10</span>
            </div>
            <div class="kanban_row_content">
                XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            </div>
            <div class="kanban_row_foot">
                <span class="foot_info"><span class="op"><i class="fa fa-user"></i>&nbsp;发起人</span><br />XXXXXXXX</span>
                <span class="foot_info"><span class="op"><i class="fa fa-map-marker"></i>&nbsp;工序</span><br />OPXXX</span>
            </div>
        </div>
    </div>
</div>