<link href="/Resource/Css/Page/P099Pad/homePad.css?v={{random}}" rel="stylesheet" />
<div class="home-pad">
    <span class="menu-btn bg-maroon" ng-click="menu1Click()"><i class="fa fa-microchip fa-4x"></i><br /><br />电装报工管理</span>
    <span class="menu-btn bg-red" ng-click="menu2Click()"><i class="fa fa-wrench fa-4x"></i><br /><br />电检报工管理</span>
    <span class="menu-btn bg-aqua" ng-click="menu3Click()"><i class="fa fa-magnet  fa-4x"></i><br /><br />机加报工管理</span>
    <span class="menu-btn bg-blue" ng-click="menu4Click()"><i class="fa fa-tags fa-4x"></i><br /><br />立库配料报工管理</span>
    <span class="menu-btn bg-green" ng-click="menu5Click()"><i class="fa fa-truck fa-4x"></i><br /><br />收货报工管理</span>
    <span class="menu-btn bg-teal" ng-click="menu7Click()"><i class="fa fa-file-pdf-o fa-4x"></i><br /><br />WI</span>
    <span class="menu-btn bg-olive" ng-click="menu6Click()"><i class="fa fa-leaf fa-4x"></i><br /><br />NCR查询</span>
    <!--<span class="menu-btn bg-orange" ng-click="TestClick()"><i class="fa fa-leaf fa-4x"></i><br /><br />测试拍照</span>-->
    <span class="menu-btn bg-maroon" ng-click="menu1Click()"><i class="fa fa-microchip fa-4x"></i><br /><br />电装报工管理</span>
    <span class="menu-btn bg-red" ng-click="menu2Click()"><i class="fa fa-wrench fa-4x"></i><br /><br />电检报工管理</span>
    <span class="menu-btn bg-aqua" ng-click="menu3Click()"><i class="fa fa-magnet  fa-4x"></i><br /><br />机加报工管理</span>
    <span class="menu-btn bg-blue" ng-click="menu4Click()"><i class="fa fa-tags fa-4x"></i><br /><br />立库配料报工管理</span>
    <span class="menu-btn bg-green" ng-click="menu5Click()"><i class="fa fa-truck fa-4x"></i><br /><br />收货报工管理</span>
    <span class="menu-btn bg-teal" ng-click="menu7Click()"><i class="fa fa-file-pdf-o fa-4x"></i><br /><br />WI</span>
    <span class="menu-btn bg-olive" ng-click="menu6Click()"><i class="fa fa-leaf fa-4x"></i><br /><br />NCR查询</span>
    <div style="clear: both;"></div>
</div>

