<div class="top_search_bar">
    <text-box-normal caption="供应商编号" ng-model="obj.SupplierEnglish" width="250" ng-hide="!isHistory"></text-box-normal>
    <text-box-normal caption="托盘序列号" ng-model="obj.TraySerialNo" width="250" ng-hide="!isHistory"></text-box-normal>
    <date-input-double caption="时间" datefrom="dateS" dateto="dateE" ng-hide="!isHistory" width="350"></date-input-double>
    <button type="button" class="btn bg-blue" ng-click="onHistoryResearch()" ng-hide="!isHistory"><i class="fa fa-search" style="margin-right:10px"></i>&nbsp;检索</button>
    <button type="button" class="btn bg-maroon" style="margin-right:10px" ng-click="export()"><i class="fa fa-cloud-download"></i>&nbsp;导出</button>
    <button type="button" class="btn float_right" ng-class="{'bg-green': isHistory, 'bg-gray': !isHistory}" ng-click="dateTypeClick(true)">历史记录</button>
    <button type="button" class="btn float_right" ng-class="{'bg-green': !isHistory, 'bg-gray': isHistory}" ng-click="dateTypeClick(false)">当天记录</button>
    <div style="clear:both;"></div>
</div>
<div ng-if="!isHistory">
    <pagegridview config="config" list="materialList" refresh="refresh()" ng-disabled="true"
                 pagechange="onPageChange(val)" rowcount="{{more.size}}" totalrowcount="totalCount"></pagegridview>
</div>
<div ng-if="isHistory">
    <pagegridview config="config" list="historyMaterialList" refresh="historyRefresh()" ng-disabled="true"
                  pagechange="onHistoryPageChange(val)" rowcount="{{historyMore.size}}" totalrowcount="historyTotalCount"></pagegridview>

</div>