<div class="top_search_bar">
    <combbox caption="巷道" ng-model="condition.Tunnel" list="tunnelList" width="200" on-change="onTunnelItemChange(val)"></combbox>

    <combbox caption="类型" ng-model="condition.Type" list="typeList" width="200" on-change="onTypeItemChange(val)"></combbox>

    <file-upload-button caption="导入" url="uploadUrl" beforeload="beforeLoad()" style="margin-right:10px"></file-upload-button>
    <button type="button" class="btn bg-maroon" style="margin-right:10px" ng-click="export()"><i class="fa fa-cloud-download"></i>&nbsp;导出</button>
    <button type="button" class="btn bg-maroon" style="margin-right:10px" ng-click="downTemplateFile()"><i class="fa fa-cloud-download"></i>下载模板</button>
</div>
<div>
    <pagegridview config="config"
                  list="warehouseplanList"
                  refresh="refresh()"
                  add="add()"
                  edit="edit(item)"
                  remove="onDelete(items)"
                  pagechange="onPageChange(val)"
                  rowcount="{{more.size}}" totalrowcount="totalCount">
    </pagegridview>

</div>
<warehouse-Plan-edit after-commit="afterCommit(res)"></warehouse-Plan-edit>