<popup width="600" height="485" title="立库计划管理" show="show">
    <div class="modal-body" id="validate">
        <div class="inputBar">
            <combbox caption="巷道" ng-model="plan.Tunnel" list="tunnelList" width="300" mustinput="true"  ></combbox>
        </div>
        <div class="inputBar">
            <combbox caption="类型" ng-model="plan.Type" list="typeList" width="300" mustinput="true"></combbox>
        </div>
        <div class="inputBar">
            <text-box-normal caption="编号" ng-model="plan.SeqNo" width="300" mustinput="true"></text-box-normal>
        </div>
        <div class="inputBar">
            <span class="float_left" style="margin: 10px 10px 0 0;">计划开始时间</span>
            <input type="text" class="form-control textboxNm value float_left" style="width: 30px" ng-model="plan.BeginTimeHH" maxlength="2" />
            <span class="float_left" style="margin: 10px 10px 0 0;">点</span>
            <input type="text" class="form-control textboxNm value float_left" style="width: 30px" ng-model="plan.BeginTimeMM" maxlength="2" />
            <span class="float_left" style="margin: 10px 10px 0 10px;">分</span>
            <input type="text" class="form-control textboxNm value float_left" style="width: 30px" ng-model="plan.BeginTimeSS" maxlength="2" />
            <span class="float_left" style="margin: 10px 10px 0 10px;">秒</span>
        </div>
        <div class="inputBar">
            <span class="float_left" style="margin: 10px 10px 0 0;">计划结束时间</span>
            <input type="text" class="form-control textboxNm value float_left" style="width: 30px" ng-model="plan.EndTimeHH" maxlength="2" />
            <span class="float_left" style="margin: 10px 10px 0 0;">点</span>
            <input type="text" class="form-control textboxNm value float_left" style="width: 30px" ng-model="plan.EndTimeMM" maxlength="2"/>
            <span class="float_left" style="margin: 10px 10px 0 10px;">分</span>
            <input type="text" class="form-control textboxNm value float_left" style="width: 30px" ng-model="plan.EndTimeSS" maxlength="2" />
            <span class="float_left" style="margin: 10px 10px 0 10px;">秒</span>
        </div>       
        <div class="inputBar" style="margin-bottom: 0;">
            <span>工作内容</span>
            <br />
            <text-area style="height: 60px; width: 100%;" ng-model="plan.WorkContent"></text-area>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="commit()">保存</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>