<popup width="700" height="485" title="物料拉动" show="show">
    <div class="modal-body" id="validate">
        <div class="inputBar">
            <text-box-normal caption="产品" ng-model="obj.AssemblyDesc" width="200" ng-disabled="true"></text-box-normal>
            <text-box-normal caption="工序" ng-model="obj.OpNo" width="150" ng-disabled="true"></text-box-normal>
        </div>
        <div class="inputBar">


            <text-box-normal caption="加工序列号" ng-model="obj.SerialNo" width="200" ng-disabled="true"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-normal caption="需求时间" ng-model="obj.RequestDate" width="200" ng-disabled="true"></text-box-normal>
        </div>
        <div class="inputBar" style="margin-bottom: 0;">
            <span>备注</span>
            <br />
            <textarea style="height: 60px; width: 100%;" ng-model="obj.Comment" ng-disabled="obj.Status"></textarea>
        </div>
        <div class="inputBar" style="margin-bottom: 0;">
            <control-container width="200" caption="已处理">
                <check-box ng-model="obj.Status" checkedvalue="1" uncheckedvalue="0"></check-box>
            </control-container>
        </div>
    </div>      
   
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="commit()">保存</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>