<div class="control_container dateInputDouble" style="width: {{width}}px">
    <table>
        <tr>
            <td class="dateFrom"><date-input caption="{{caption}}" width="{{width-140}}" ng-model="datefrom" ng-disabled="ngDisabled" from-now="fromNow" mustinput="mustinput" month-only="monthOnly"></date-input></td>
            <td class="marker">-</td>
            <td class="dateTo"><date-input width="120" ng-model="dateto" ng-disabled="ngDisabled" from-now="fromNow" mustinput="mustinput" month-only="monthOnly"></date-input></td>
        </tr>
    </table>
</div>