.wip {
        margin: 0 0 10px 0;
    }
    .wip td {
        height: 50px;
        border: 1px solid #3b3b3b;
        text-align: center;
    }
    .serialNo {
        width: 100px;
        background: #BFEFFF;
    }
    .opNo {
        width: 50px;
        background: #fff;
    }

    .opNo_begin {
        background: #C1FFC1;
    }
    .opNo_complete {
        background: #EED2EE;
    }

    .coloricon {
        height: 15px;
        width: 15px;
        float: left;
        margin-right: 10px;
        border: 1px solid #3b3b3b;
    }

    .colordesc {
        float: left;
        margin-right: 10px;
    }