.job-row {
            height: 25px;
            margin: 5px;
            border: 1px solid #3b3b3b;
            font-size: 10px;
        }

        .job-col {
            height: 100%;
            display: inline-block;
            padding: 5px 3px 3px 3px;
        }

        .job-check {
            height: 100%;
            width: 30px;
            display: inline-block;
            background: #3b3b3b;
            text-align: center;
            color: #fff;
        }

        .job-checked {
            background: #4169E1 !important;
        }

        .JobNo {
            width: 150px;
            float: left;
        }

        .SerialNo {
            width: 200px;
            float: left;
            margin-left: 20px;
        }

        .input-value {
            width: 80px;
            float: right;
            text-align: right;
            padding: 0 !important;
            line-height: 25px;
        }

            .input-value input {
                width: 70px;
                margin-right: 3px;
                line-height: 20px;
            }