<link href="/Resource/Css/Page/P099Pad/P003PM003_StationSelect.css" rel="stylesheet" />
<div class="col-md-3">
    <div class="box box-solid">
        <div class="box-header with-border">
            <h4 class="box-title">选择产线</h4>
        </div>
        <div class="box-body">
            <!-- the events -->
            <div id="external-events">
                <div class="external-event productLineRow" ng-click="lineSelect(productLine)"
                     ng-repeat="productLine in productLineList" ng-class="{'productLineRow-selected':selectedLine==productLine.subId}">{{productLine.name}}</div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>
<div class="col-md-9 station-list">
    <div class="small-box bg-maroon assembly-item"
         ng-repeat="assembly in assemblyList" ng-click="assemblySelect(assembly)">
        <div class="inner">
            <h3>{{assembly.AssemblyDesc}}</h3>
            <p>{{assembly.AssemblyItem}}</p>
        </div>
        <div class="icon">
            <i class="fa fa-paper-plane"></i>
        </div>
        <a class="small-box-footer">
            点击进入WI查看页面 <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
