<popup width="1000" height="500" title="ACL点检项目" show="show">
    <link href="/Resource/Css/Page/P099Pad/P003PM003_AclForm.css" rel="stylesheet" />
    <div class="modal-body" id="validateAcl">
        <div style="border-bottom: 1px solid #3b3b3b;">
            <table style="width: 100%">
                <tr>
                    <td class="acl-content" colspan="2">
                        <text-box-normal caption="产品序列号" maxlength="60" ng-model="acl.ProductSerialNo" width="300"></text-box-normal>
                    </td>
                    <td class="acl-caption">文件编号：</td>
                    <td class="acl-content">{{acl.ACL_QP_FileCode}}</td>
                    <td class="acl-caption">操作者：</td>
                    <td class="acl-content">{{acl.UserName}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="acl-caption">工位：</td>
                    <td class="acl-content">{{acl.StationName}}</td>
                    <td class="acl-caption">版本号：</td>
                    <td class="acl-content">{{acl.Revision}}</td>
                </tr>
                <tr></tr>
            </table>
        </div>
        <div ng-if="aclList.length>0">
            <div class="acl-row" ng-repeat="item in aclList track by $index" ng-class="{'acl-row-err': item.hasErr}">
                <span class="acl-col item-StandardName"><b>检验标准</b><br />{{item.ItemName}}</span>
                <span class="acl-col item-Requirement"><b>装配要求</b><br />{{item.Requirement}}</span>
                <span class="acl-col item-CheckMethod"><b>检查方法</b><br />{{item.CheckMethodName}}</span>
                <span class="acl-col item-icon" ng-click="showPic(item)"><i class="fa fa-picture-o fa-2x" ng-if="item.AttachmentID&&item.AttachmentID.length>0"></i></span>
                <span class="acl-col item-Tools"><b>参考工装/量具</b><br />{{item.ToolName}}</span>
                <!--<span class="acl-col item-icon"><icon-scan ng-model="item.RealTools" ng-id="scan{{$index+1}}" ng-if="item.CheckMethod==2"></icon-scan></span>-->
                <span class="acl-col item-Tools">
                    <text-box-scan ng-id="scan{{$index+1}}" width="150" ng-model="item.RealTools" placeholder="实际工装/量具"></text-box-scan>
                    <!--<input class="form-control" type="text" ng-model="item.RealTools" />-->
                </span>
                <span class="acl-col input-value">
                    <font class="acl-check" ng-if="item.InputMethod==1" ng-class="{'acl-checked': item.Result==2}"
                          ng-click="checkboxClick(item)">
                        <i class="fa fa-check" ng-if="item.Result==2"></i>
                        <i class="fa fa-square-o" ng-if="item.Result!=2"></i>
                    </font>
                    <text-box-number ng-model="item.ActualValue" ng-if="item.InputMethod==2"></text-box-number>
                </span>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div ng-if="aclList.length<=0" style="text-align: center; height: 50%; padding-top: 100px;">
            该工序没有设定ACL，可以直接提交完成报工！
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="save()" ng-if="aclList && aclList.length > 0">保存检验记录
</button>
        <button type="button" class="btn bg-blue" ng-click="commit(0)">仅报工</button>
        <button type="button" class="btn bg-blue" ng-click="commit(1)">完工并提交</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
    <pictureview width="1000" height="550"></pictureview>
</popup>