<link href="Resource/Css/Page/P099Pad/P0003PM003_LaborManage.css" rel="stylesheet" />
<div style="padding-top: 1px;">
    <div class="labor_item" ng-repeat="item in laborItemList">
        <div class="labor_item_main" ng-class="{'labor_item_complete':item.Status=='complete'}">
            <span class="work_order">
                工单号
                <br />
                {{item.JobNo}}
            </span>
            <span class="serial_number">
                加工序列号
                <br />
                {{item.SerialNo}}
            </span>
            <span class="Assembly">
                产品
                <br />
                {{item.AssemblyDesc}}
            </span>
            <span class="OpNo">
                工序
                <br />
                [{{item.OpNo}}]{{item.OpDesc}}
            </span>
            <span class="begin-time">
                开始时间
                <br />
                {{item.RealBeginDate}}
            </span>
            <span class="end-time">
                结束时间
                <br />
                {{item.RealEndDate}}
            </span>
            <span class="status">
                <i class="fa fa-coffee" ng-if="item.Status=='wait'"></i>
                <i class="fa fa-space-shuttle" ng-if="item.Status=='begin'"></i>
                <i class="fa fa-pause-circle" ng-if="item.Status=='pause'"></i>
                <i class="fa fa-check-circle-o" ng-if="item.Status=='complete'"></i>
                <br />
                <font ng-if="item.Status=='begin'">进行中</font>
                <font ng-if="item.Status=='wait'">准备中</font>
                <font ng-if="item.Status=='pause'">暂停中</font>
                <font ng-if="item.Status=='complete'">已完成</font>
            </span>
            <div class="buttons">
                <a class="labor_btn btnAndon" ng-click="andon(item)" ng-class="{'btn-andon': item.AndonCount>0}">Andon<br />NCR</a>
                <a class="labor_btn" ng-click="pause(item)" ng-class="{'labor_btn_disabled': item.Status=='complete'||item.Status=='wait', 'btn_click': item.Status=='pause'}">暂停</a>
                <a class="labor_btn" ng-click="qeClick(item)" ng-class="{'labor_btn_disabled': item.Status=='complete'||item.Status=='wait'||item.Status=='pause'}">QE</a>
                <a class="labor_btn" ng-click="begin(item)" ng-class="{'btn_click': item.Status=='begin'||item.Status=='complete'}">{{item.Status=='complete'?'完成':'开始'}}</a>
            </div>
        </div>
    </div>
</div>
<qe-form></qe-form>
<andon-form></andon-form>
<moc-form></moc-form>

