<popup width="1000" height="600" title="电装电检" show="show">
    <link href="/Resource/Css/Page/P099Pad/P004QM011_QEForm.css" rel="stylesheet" />
    <div class="modal-body" id="validateQE">
        <div style="border-bottom: 1px solid #3b3b3b;">
            <table style="width: 100%">
                <tr>
                    <td class="acl-content"><text-box-normal caption="产品序列号" ng-model="qe.ProductSerialNo" maxlength="50" width="250" mustinput="true"></text-box-normal></td>
                    <td class="acl-caption">文件编号：</td>
                    <td class="acl-content">{{qe.FileNo}}</td>
                    <td class="acl-caption">操作者：</td>
                    <td class="acl-content">{{qe.OperatorName}}</td>
                    <td class="acl-caption">工位：</td>
                    <td class="acl-content">{{qe.StationName}}</td>
                    <td class="acl-caption">版本号：</td>
                    <td class="acl-content">{{qe.Version}}</td>
                </tr>
            </table>
        </div>
        <div class="acl-row" ng-repeat="item in qeList" ng-class="{'acl-row-err': item.hasErr}">
            <span class="acl-col item-Code"><b>编号</b><br />{{item.Code}}</span>
            <span class="acl-col item-CheckItem"><b>检查项目</b><br />{{item.CheckItem}}</span>
            <span class="acl-col item-Detail"><b>相关指导</b><br />{{item.Detail}}</span>
            <span class="acl-col item-Range">
                <b>区间值</b><br />
                <font ng-if="item.InputMethod==3">{{item.LowerLimit}}-{{item.UpperLimit}}</font>
            </span>
            <span class="acl-col item-Picture" ng-click="showPic(item)"><i class="fa fa-picture-o fa-2x" ng-if="item.AttachmentID&&item.AttachmentID.length>0"></i></span>
            <span class="acl-col item-Result">
                <span ng-if="item.InputMethod==1">
                    <span class="select-btn" ng-class="{'select-btn-active': item.Result==2}"
                          ng-click="resultClick(item, 2)">合格</span>
                    <span class="select-btn" ng-class="{'select-btn-active': item.Result==1}"
                          ng-click="resultClick(item, 1)">不合格</span>
                </span>               
                <text-box-normal placeholder="{{item.Caption1}}" ng-model="item.Value1" width="60" ng-if="(item.InputMethod==3||item.InputMethod==4)&&item.Caption1!=''"></text-box-normal>
                <text-box-normal placeholder="{{item.Caption2}}" ng-model="item.Value2" width="60" ng-if="(item.InputMethod==3||item.InputMethod==4)&&item.Caption2!=''"></text-box-normal>
                <text-box-normal placeholder="{{item.Caption3}}" ng-model="item.Value3" width="60" ng-if="(item.InputMethod==3||item.InputMethod==4)&&item.Caption3!=''"></text-box-normal>
                <text-box-normal placeholder="{{item.Caption4}}" ng-model="item.Value4" width="60" ng-if="(item.InputMethod==3||item.InputMethod==4)&&item.Caption4!=''"></text-box-normal>
                <text-box-normal placeholder="{{item.Caption5}}" ng-model="item.Value5" width="60" ng-if="(item.InputMethod==3||item.InputMethod==4)&&item.Caption5!=''"></text-box-normal>
            </span>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="save()">保存检验记录</button>
        <button type="button" class="btn bg-blue" ng-click="commit(0)">仅报工</button>
        <button type="button" class="btn bg-blue" ng-click="commit(1)">完工并提交</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
    <pictureview width="1000" height="550"></pictureview>
</popup>