<popup width="1030" height="550" title="QP检验项目" show="show">
    <link href="/Resource/Css/Page/P099Pad/P004QM013_QPFrom.css" rel="stylesheet" />
    <div class="modal-body" id="validateQP">
        <div>
            <button class="select-btn" ng-repeat="tab in tabList track by $index"
                    ng-class="{'select-btn-active':$index==currentIndex, 'bg-green':tab.SubmitFlag==1}"
                    ng-click="showQPInfo(tab, $index)">
                {{tab.index}}
            </button>
            <div style="clear: both;"></div>
        </div>
        <div style="border-bottom: 1px solid #3b3b3b;">
            <table class="head-table" style="width: 100%">
                <tr>
                    <td class="acl-content" colspan="2">
                        <text-box-normal caption="质量编号" maxlength="60" ng-model="qp.QualityPlan" width="300" mustinput="true" ng-disabled="SubmitFlag==1"></text-box-normal>
                    </td>
                    <td class="acl-caption">状态：</td>
                    <td class="acl-content submitFlag" ng-class="{'bg-green':SubmitFlag==1,'bg-blue':SubmitFlag==0}">{{SubmitFlag==1?"已提交":"未提交"}}</td>
                    <td class="acl-caption">文件编号：</td>
                    <td class="acl-content">{{qp.FileNo}}</td>
                </tr>
                <tr>
                    <td class="acl-caption">检验标准版本：</td>
                    <td class="acl-content">{{qp.Revision}}</td>
                    <td class="acl-caption">图号/版本号：</td>
                    <td class="acl-content">{{qp.DrawingNo_REV}}</td>
                    <td class="acl-caption">零件号/版本：</td>
                    <td class="acl-content">{{qp.PN_REV}}</td>
                </tr>
                <tr>
                    <td class="acl-caption">毛坯号/版本：</td>
                    <td class="acl-content">{{qp.RMN_REV}}</td>
                    <td class="acl-caption">描述：</td>
                    <td class="acl-content">{{qp.Description}}</td>
                    <td class="acl-caption">操作者：</td>
                    <td class="acl-content">{{qp.Operator}}</td>
                </tr>
            </table>
        </div>
        <div class="acl-row" ng-repeat="item in tabList[currentIndex].qpList" ng-class="{'acl-row-err': item.hasErr}">
            <span class="acl-col item-StandardName">泡泡图编号<br />{{item.ItemName}}</span>
            <span class="acl-col item-Requirement">图纸要求<br />{{item.Requirement}}</span>
            <span class="acl-col item-ToolName">
                <text-box-normal placeholder="量具编号" ng-model="item.ToolName" ng-disabled="SubmitFlag==1"></text-box-normal>
            </span>
            <span class="acl-col item-CheckMethod">区间值<br />{{item.LowerLimit}}-{{item.UpperLimit}}</span>
            <span class="acl-col item-Result">
                <span ng-if="item.InputMethod==1">
                    <span class="select-btn" ng-class="{'select-btn-active': item.Result==2}"
                          ng-click="resultClick(item, 2)">合格</span>
                    <span class="select-btn" ng-class="{'select-btn-active': item.Result==1}"
                          ng-click="resultClick(item, 1)">不合格</span>
                </span>
                <text-box-number placeholder="实测值" ng-model="item.ActualValue" ng-if="item.InputMethod==2" ng-disabled="SubmitFlag==1"></text-box-number>
            </span>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="save()" ng-if="SubmitFlag!=1">保存</button>
        <button type="button" class="btn bg-green" ng-click="commit()" ng-if="SubmitFlag!=1">提交</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>