<link href="/Resource/Css/Page/P099Pad/P005WM007_MaterialReceive.css" rel="stylesheet" />
<div class="labor_top">
    <div style="float: left; height: 100%; padding-left: 10px">
        <text-box-scan width="200" ng-model="condition.TraySerialNo" placeholder="托盘序列号" onchange="afterScan(val)" ng-show="!isPc"></text-box-scan>
        <text-box-normal width="200" ng-model="condition.TraySerialNo" placeholder="托盘序列号" onchange="afterScan(val)" ng-show="isPc"></text-box-normal>
    </div>   
</div>
<div style="margin-top: 1px;">
    <div class="labor_item" ng-repeat="item in materialList">
        <div class="labor_item_main">
            <span class="TraySerialNo">
                托盘序列号
                <br />
                {{item.TraySerialNo}}
            </span>
            <span class="SupplierEnglish">
                供应商
                <br />
                {{item.SupplierEnglish}}
            </span>
            <span class="CreateTime">
                到货时间
                <br />
                {{item.CreateTime}}
            </span>
            <span class="Operator">
                到货操作者
                <br />
                {{item.CreateUserName}}
            </span>
            <span class="BeginTime">
                处理开始时间
                <br />
                {{item.BeginTime}}
            </span>
            <span class="Operator">
                收货操作者1
                <br />
                {{item.BeginOperator}}
            </span>
            <span class="BeginTime">
                收货完成时间
                <br />
                {{item.EndTime}}
            </span>
            <span class="Operator">
                收货操作者2
                <br />
                {{item.EndOperator}}
            </span>
            <span class="Status">
                <i class="fa fa-coffee" ng-if="item.Status=='0'"></i>
                <i class="fa fa-space-shuttle" ng-if="item.Status=='1'"></i>
                <i class="fa fa-check-circle-o" ng-if="item.Status=='2'"></i>
                <br />
                <font ng-if="item.Status=='0'">准备中</font>
                <font ng-if="item.Status=='1'">进行中</font>
                <font ng-if="item.Status=='2'">已完成</font>
            </span>
            <span class="labor_btn" ng-click="remove(item)" ng-class="{'btn_click': item.Status=='1'||item.Status=='2', 'labor_btn_disabled': item.Status=='0'}">取消</span>
            <span class="labor_btn" ng-click="end(item)" ng-class="{'btn_click': item.Status=='1',
                   'labor_btn_disabled': item.Status=='0'||item.Status=='2'}">完成</span>
            <span class="labor_btn" ng-click="begin(item)" ng-class="{'btn_click': item.Status=='0', 'labor_btn_disabled': item.Status=='1'||item.Status=='2'}">开始</span>
            
            <div style="clear: both;"></div>
        </div>
    </div>
</div>


