<div style="height:100%; background-color: #fff; padding:10px;">
    <div style="height: 50px;line-height: 50px; font-size: 30px; text-align: center;">机加产线看板</div>
    <div style="border:1px solid #3b3b3b; padding: 5px;">
        <div>
            <div class="float_left" style="width: 45%;">
                <div><span class="kanban-caption">当前时间：</span></div>
                <div><span class="kanban-caption">产线状态：</span><span></span></div>
                <div>
                    <div class="col-lg-5 col-xs-6">
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>150</h3>
                                <p>New Orders</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xs-6">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3>150</h3>
                                <p>New Orders</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div>
                    <div class="col-lg-4 col-xs-6">
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>150</h3>
                                <p>New Orders</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-6">
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>150</h3>
                                <p>New Orders</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-6">
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>150</h3>
                                <p>New Orders</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div class="float_right" style="width: 55%;"></div>
            <div style="clear: both;"></div>
        </div>
        <div>
            <div class="float_left" style="width: 50%">
                <div><span class="kanban-caption">Andon列表</span></div>
                <table class="table table-hover table-striped gridview">
                    <tbody>
                        <tr>
                            <th style="width: 5%">序号</th>
                            <th style="width: 10%">加工序列号</th>
                            <th style="width: 20%">产品</th>
                            <th style="width: 15%">工序</th>
                            <th style="width: 10%">类型</th>
                            <th style="width: 15%">报警时间</th>
                            <th style="width: 25%">描述</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>201700003</td>
                            <td>Copper bus(2.3 DTA)</td>
                            <td>OP010</td>
                            <td>物料异常</td>
                            <td>2017-10-25 10:19</td>
                            <td>描述描述描述描述描述描述描述描述描述描述描述</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>201700003</td>
                            <td>Copper bus(2.3 DTA)</td>
                            <td>OP010</td>
                            <td>物料异常</td>
                            <td>2017-10-25 10:19</td>
                            <td>描述描述描述描述描述描述描述描述描述描述描述</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>201700003</td>
                            <td>Copper bus(2.3 DTA)</td>
                            <td>OP010</td>
                            <td>物料异常</td>
                            <td>2017-10-25 10:19</td>
                            <td>描述描述描述描述描述描述描述描述描述描述描述</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>201700003</td>
                            <td>Copper bus(2.3 DTA)</td>
                            <td>OP010</td>
                            <td>物料异常</td>
                            <td>2017-10-25 10:19</td>
                            <td>描述描述描述描述描述描述描述描述描述描述描述</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>201700003</td>
                            <td>Copper bus(2.3 DTA)</td>
                            <td>OP010</td>
                            <td>物料异常</td>
                            <td>2017-10-25 10:19</td>
                            <td>描述描述描述描述描述描述描述描述描述描述描述</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>201700003</td>
                            <td>Copper bus(2.3 DTA)</td>
                            <td>OP010</td>
                            <td>物料异常</td>
                            <td>2017-10-25 10:19</td>
                            <td>描述描述描述描述描述描述描述描述描述描述描述</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    
</div>
