
.acl-row {
    margin: 5px 0;
    border: 1px solid #3b3b3b;
    background: #757575;
    color: #fff;
}

    .acl-row .select-btn-active {
        color: #fff !important;
    }

.acl-row-err {
    background-color: #EE5C42 !important;
}

.acl-col {
    height: 100%;
    display: inline-block;
    padding: 5px 3px 3px 3px;
    float: left;
}

.item-StandardName {
    width: 250px;
}

.item-Requirement {
    width: 250px;
}

.item-ToolName {
    width: 150px;
}

.item-Result {
    width: 140px;
    float: right;
    text-align: right;
}

.acl-col .control_container {
    margin: 0;
}

.acl-col input {
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: #3b3b3b;
}

.acl-col .select-btn {
    height: 40px;
    width: 60px;
    line-height: 40px;
    color: #3b3b3b;
}

.item-CheckMethod {
    width: 150px;
    margin-left: 20px;
}

.item-icon {
    width: 50px;
    padding-top: 8px;
    color: #999999;
}

.acl-caption {
    width: 150px;
    text-align: right;
}

.acl-content {
    width: 200px;
    text-align: left;
}

.head-table td {
    height: 20px;
}

.labor_btn_disabled {
    background: #9C9C9C !important;
    cursor: not-allowed;
}

.submitFlag {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

