<popup width="800" height="500" title="添加工序" show="show">
    <div class="modal-body" id="validate">
        <table>
            <tr>
                <td style="width: 200px;">产线：{{ProductLineName}}</td>
                <td style="width: 200px;">岗位名称：{{station.StationName}}</td>
                <td style="width: 300px;">
                    <assembly ng-model="AssemblyItem" mustinput="true" after-select="assemblySelect(item)" productline="station.ProductLine"></assembly>
                </td>
            </tr>
        </table>
        <pagegridview config="config" list="opList" canselect="true" ng-disabled="true" hidefuncbar="true"></pagegridview>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="commit()">保存</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>