<div class="top_search_bar" id="validate1">
    <combbox caption="模板类型" ng-model="modelType" list="modelTypeList" width="200"></combbox>
    <combbox caption="适用场景" ng-model="occasion" list="occasionList" width="200"></combbox>
    <!--<combbox caption="工序" ng-model="OpNo" list="modelList" width="200"></combbox>-->
    <button type="button" class="btn bg-green" ng-click="onResearch()"><i class="fa fa-search"></i>&nbsp;检索</button>
</div>
<div>
    <pagegridview config="config" list="modelList" add="add()" edit="edit(item)"
                  refresh="refresh()" remove="onDelete(items)"
                  pagechange="onPageChange(val)"  rowcount="{{more.size}}" totalrowcount="totalCount"></pagegridview>
</div>
<model-edit after-commit="afterCommit(res)"></model-edit>
