<popup width="600" height="500" title="关键件编辑" show="show">
    <div class="modal-body" id="validate">
        <div class="inputBar">
            <combbox caption="产品名称" ng-model="opk.AssemblyItem" list="assemblyList" width="300" mustinput="true"></combbox>
        </div>
        <div class="inputBar">
            <text-box-normal caption="关键件名称" ng-model="opk.KeypartName" width="300" mustinput="true"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-number caption="排序" ng-model="opk.SeqNo" width="300" mustinput="true"></text-box-number>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="commit()">保存</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>
