<popup width="700" height="500" title="WIP编辑" show="show">
    <div class="modal-body" id="validate">
        <div class="inputBar">
            <combbox caption="产品" ng-model="wip.AssemblyItem" list="assemblyList" width="200" mustinput="true" ng-disabled="mode=='edit'"></combbox>
        </div>
        <div class="inputBar">
            <text-box-normal caption="序号" ng-model="wip.SeqNo" width="200" mustinput="true" ng-disabled="mode=='edit'"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-normal caption="节拍描述" ng-model="wip.WIPName" mustinput="true"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-number caption="节拍时间" ng-model="wip.TickTime" width="300"></text-box-number>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="commit()">保存</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>