<link href="Resource/Css/Page/P001IM/P001IM002_StationManage.css" rel="stylesheet" />
<div>
    <div class="top_search_bar" id="validate">
        <combbox caption="产线" ng-model="ProductLine" list="productLineList" width="300" mustinput="true" on-change="productLineChange(val)"></combbox>
        <button type="button" class="btn bg-green" ng-click="onAdd()"><i class="fa fa-plus"></i>&nbsp;添加岗位</button>
        <button type="button" class="btn bg-blue" ng-click="refresh()"><i class="fa fa-refresh"></i>&nbsp;刷新</button>
    </div>
    <div class="station-row" ng-repeat="station in stationList">
        <div class="station-row-top">
            <span class="plusBtn" ng-click="showDetail(station)"><i class="fa" ng-class="{'fa-minus-square':station.showDetail, 'fa-plus-square':!station.showDetail }"></i></span>
            <span class="StationCode">岗位编号：{{station.StationCode}}</span>
            <span class="StationName">岗位名称：{{station.StationName}}</span>
            <span class="StationType">岗位类型：{{station.StationTypeName}}</span>
            <span class="StationDesc">岗位描述：{{station.StationDesc}}</span>
            <div class="btnBar">
                <button type="button" class="btn bg-maroon btn-sm" ng-click="addOp(station)"><i class="fa fa-plus"></i>&nbsp;添加工序</button>
                <button type="button" class="btn bg-blue btn-sm" ng-click="onEdit(station)"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</button>
                <button type="button" class="btn bg-yellow btn-sm" ng-click="delete(station)"><i class=" fa fa-trash-o"></i>&nbsp;删除</button>
            </div>
            <div style="clear: both;"></div>
        </div>
        <table class="detailData" ng-show="station.showDetail">
            <tr>
                <th class="AssemblyDesc">产品</th>
                <th class="OpName">工序</th>
                <th class="OpDesc">工序描述</th>
            </tr>
            <tr ng-repeat="op in station.opList track by $index">
                <td>{{($index > 0 && station.opList[$index-1].AssemblyItem==station.opList[$index].AssemblyItem)?"": op.AssemblyDesc}}</td>
                <td>{{op.OpNo}}</td>
                <td>{{op.OpDesc}}</td>
            </tr>
        </table>
    </div>
</div>
<station-edit after-commit="afterCommit(res)"></station-edit>
<op-add after-commit="afterCommitAddOp(res)"></op-add>