<div class="top_search_bar" id="validate">
    <text-box-normal caption="物料编码" ng-model="materialCode" width="200" on-change="onAssemblyChange(val)"></text-box-normal>
    <text-box-normal caption="物料名称" ng-model="materialName" width="200"></text-box-normal>
    <combbox caption="序列号标识" ng-model="serialFlag" list="serialFlagList" width="200"></combbox>
    <button type="button" class="btn bg-green" ng-click="onResearch()"><i class="fa fa-search"></i>&nbsp;检索</button>
    <button type="button" class="btn bg-blue" ng-click="SynchronizeMertial()"><i class="fa fa-exchange"></i>&nbsp;同步物料</button>
    <button type="button" class="btn bg-blue" ng-click="SynchronizeSupplier()"><i class="fa fa-exchange"></i>&nbsp;同步供应商</button>
    <button type="button" class="btn bg-blue" ng-click="SynchronizeBOM()"><i class="fa fa-exchange"></i>&nbsp;同步BOM</button>
</div>
<div>
    <pagegridview config="config"
                  list="materialList"
                  add="add()"
                  edit="edit(item)"
                  remove="onDelete(items)"
                  refresh="refresh()"
                  pagechange="onPageChange(val)"
                  rowcount="{{more.size}}"
                  totalrowcount="totalCount"></pagegridview>
</div>
<material-edit after-commit="afterCommit(res)"></material-edit>
<material-supplier-edit after-commit="afterCommit(res)"></material-supplier-edit>
