<div class="top_search_bar" id="validate1">
    <assembly ng-model="searchParameters.assemblyItem" after-select="getOpList(item)" mustinput="true"></assembly>
    <combbox caption="工序" ng-model="searchParameters.operation" list="opList" width="150"></combbox>
    <text-box-normal caption="检验项目" ng-model="searchParameters.checkItem" width="150"></text-box-normal>
    <text-box-normal caption="相关指导" ng-model="searchParameters.detail" width="150"></text-box-normal>
    <combbox caption="录入方式" ng-model="searchParameters.inputMethod" list="inputMethodList" width="200"></combbox>
    <button type="button" class="btn bg-green" ng-click="onResearch()"><i class="fa fa-search"></i>&nbsp;检索</button>
    <button type="button" class="btn bg-maroon" ng-click="downTemplateFile()"><i class="fa fa-cloud-download"></i>&nbsp;下载模板</button>
    <file-upload-button caption="导入" url="uploadUrl" beforeload="beforeLoad()"></file-upload-button>
    <button type="button" class="btn bg-maroon" style="margin-right:10px" ng-click="export(val)"><i class="fa fa-cloud-download"></i>&nbsp;导出</button>
    <div style="clear:both;"></div>
</div>
<div>
    <pagegridview config="config"
                  list="qECheckItemsList"
                  add="add()"
                  edit="edit(item)"
                  refresh="refresh()"
                  remove="onDelete(items)"
                  pagechange="onPageChange(val)"
                  rowcount="{{more.size}}"
                  fixed="true"
                  totalrowcount="totalCount">
    </pagegridview>
</div>
<qecheckitems-edit after-commit="afterCommit(res)"></qecheckitems-edit>
<pictureview width="1000" height="550"></pictureview>