<popup width="600" height="600" title="模板管理" show="show">
    <div class="modal-body" id="validate">
        <div class="inputBar">
            <text-box-normal caption="模板名称" ng-model="op.ModelName" width="200" mustinput="true" maxlength="20"></text-box-normal>
        </div>
        <div class="inputBar">
            <combbox caption="类型" ng-model="op.ModelType" list="modelTypeList" width="300"></combbox>
        </div>
        <div class="inputBar">
            <combbox caption="适用场景" ng-model="op.Occasion" list="occasionList" width="300"></combbox>
        </div>
        <div>
            <textarea id="editor1">{{op.Contents}}</textarea>
            <script src="Resource/Js/ckeditor/ckeditor.js"></script>
            <script>CKEDITOR.replace('editor1');</script>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="commit()">保存</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>
