<popup width="600" height="450" title="产品编辑" show="show">
    <div class="modal-body" id="validate">
        <div class="inputBar">
            <combbox caption="产线" ng-model="assembly.ProductLine" list="productLineList" width="300" mustinput="true"></combbox>
        </div>
        <div class="inputBar">
            <text-box-normal caption="产品号" ng-model="assembly.AssemblyItem" mustinput="true" ng-disabled="mode=='edit'"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-normal caption="产品名称" ng-model="assembly.AssemblyDesc" mustinput="true"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-number caption="标准工时(分钟)" ng-model="assembly.StandardTime" width="200"></text-box-number>
        </div>
        <div class="inputBar">
            <text-box-normal caption="ACL/QP文件编号" ng-model="assembly.ACL_QP_FileCode"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-normal caption="电装电检文件编号" ng-model="assembly.QMFileCode"></text-box-normal>
        </div>       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="commit()">保存</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>