<div class="top_search_bar">
    <text-box-normal caption="供应商名称" width="300" ng-model="condition.supplierEnglish"></text-box-normal>
    <text-box-normal caption="联系人名称" width="300" ng-model="condition.contact"></text-box-normal>
    <text-box-normal caption="邮箱" width="300" ng-model="condition.email"></text-box-normal>
    <button type="button" ng-click="onResearch()" class="btn bg-green">查询</button>   
</div>
<div>
    <pagegridview config="config"
                  list="supplierList"
                  refresh="refresh()"
                  btnicon1="fa-pencil-square-o"
                  btnclick1="edit(item)"                 
                  ng-disabled="true"
                  pagechange="onPageChange(val)"           
                  rowcount="{{more.size}}" totalrowcount="totalCount">
    </pagegridview>
</div>
<supplier-edit after-commit="afterCommit(res)"></supplier-edit>
<rgroupsupplier-edit></rgroupsupplier-edit>