<link href="/Resource/Css/Page/P001IM/P001IM015_AndonGroupUserManage.css" rel="stylesheet" />
<div class="top_search_bar" id="validate1">
    <combbox caption="产线" ng-model="ProductLine" list="ProductLineList" width="200" mustinput="true"></combbox>
    <combbox caption="Andon类型" ng-model="AndonType" list="AndonTypeList" width="200" mustinput="true"></combbox>
    <button type="button" ng-click="onResearch()" class="btn bg-green">查询</button>
    <button type="button" class="btn bg-green" ng-click="commit()">保存</button>
</div>
<div id="validate2">
    <div style="width: 980px; margin-left: auto; margin-right: auto;">
        <div class="list_bar" style="float: left; width: 430px; height: 100%; overflow-y: auto; min-height: 400px; background: #fff;">
            <table class="table table-striped table-hover table-condensed select-list" style="margin-bottom: 0;">
                <thead>
                    <tr>
                        <th width="20%" class="bg-blue">已选人员</th>
                        <th width="20%" class="bg-blue">姓名</th>      
                        <th width="60%" class="bg-blue">响应等级</th>                
                    </tr>
                </thead>
                <tbody>                   
                    <tr ng-repeat="table in opkList">
                        <td width="20%"><check-box ng-model="table.selected" checkedvalue="1" uncheckedvalue="0"></check-box></td>                       
                        <td width="20%">{{table.SSOName}}</td>                        
                        <td width="60%"><radio-btn-list caption="" width="200" ng-model="table.AcknowledgeLevel" itemlist="table.levelList" mustinput="true" placeholder="响应等级"></radio-btn-list></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div style="float: left; height: 100%; width: 110px; text-align: center; padding-top: 150px;">
            <button type="button" class="btn bg-green" ng-click="toRightAll()">>></button><br /><br />
            <button type="button" class="btn bg-green" ng-click="toRight()" style="width: 44px;">></button><br /><br />
            <button type="button" class="btn bg-green" ng-click="toLeft()" style="width: 44px;"><</button><br /><br />
            <button type="button" class="btn bg-green" ng-click="toLeftAll()"><<</button>
        </div>
        <div class="list_bar" style="float: right; width: 430px; height: 100%; overflow-y: auto; min-height: 400px; background: #fff; ">
            <table class="table table-striped table-hover table-condensed" style="margin-bottom: 0;">
                <thead>
                    <tr>
                        <th class="bg-blue">可选择人员</th>
                        <th class="bg-blue">姓名</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="table in userList">
                        <td><check-box ng-model="table.selected" checkedvalue="1" uncheckedvalue="0" ></check-box></td>
                        <td>{{table.UserName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
<adgroup-edit after-commit="afterCommit(res)"></adgroup-edit>
