<popup width="700" height="500" title="新增/编辑" show="show">
    <div class="modal-body" id="validate">
        <div class="inputBar">
            <text-box-normal caption="供应商名称" ng-model="m.SupplierEnglish" width="300" ng-disabled="mode=='edit'"></text-box-normal>
            <text-box-normal caption="供应商地址" ng-model="m.Address" width="300"></text-box-normal>
        </div>        
        <div class="inputBar">
            <text-box-normal caption="联系人名称1" ng-model="m.Contact1" width="300"></text-box-normal>        
            <text-box-normal caption="联系电话1" ng-model="m.Phone1" width="300"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-normal caption="邮箱1" ng-model="m.Email1" width="300"></text-box-normal>
            <text-box-normal caption="联系人名称2" ng-model="m.Contact2" width="300"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-normal caption="联系电话2" ng-model="m.Phone2" width="300"></text-box-normal>       
            <text-box-normal caption="邮箱2" ng-model="m.Email2" width="300"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-normal caption="联系人名称3" ng-model="m.Contact3" width="300"></text-box-normal>        
            <text-box-normal caption="联系电话3" ng-model="m.Phone3" width="300"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-normal caption="邮箱3" ng-model="m.Email3" width="300"></text-box-normal>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="commit()">保存</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>