<popup width="700" height="530" title="上传文档" show="show">
    <div class="modal-body" id="ulvalidate">
        <div class="inputBar">            
            <!--<assembly ng-model="condition.AssemblyItem" mustinput="true" linetype="Machi" after-select="getOpList(item.AssemblyItem)"></assembly>-->   
            <!--<assembly ng-model="AssemblyItem" mustinput="true" after-select="getOpList(item.AssemblyItem)"></assembly>-->   
            <combbox caption="产品" ng-model="AssemblyItem" list="assemblyList" width="250" mustinput="true" on-change="getOpList(val)"></combbox>  
        </div>
        <div class="inputBar">
            <combbox caption="工序" ng-model="OpNo" list="opList" width="250" mustinput="true"></combbox>
        </div>
        <div class="inputBar">
            <text-box-normal caption="选择文件" ng-model="FileName" width="500" ></text-box-normal>
            <file-upload-button caption="浏览..." url="uploadUrl" beforeload="beforeLoad(AssemblyItem,OpNo,FileName)"></file-upload-button>
        </div>      
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="commit(AssemblyItem,OpNo,FileName)">保存</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>

