<popup width="1000" height="800" title="DTA检查" show="show">
    <div class="modal-body" id="validate">
        <div class="inputBar">
            <combbox caption="产&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;品" model="user.Role" list="roleList" width="300" mustinput="true"></combbox>
            <text-box-normal caption="值区间" model="user.Role" list="roleList" width="300"></text-box-normal>
        </div>
        <p>描述：</p>
        <div class="inputBar">
            <textarea id="textarea" model="user.stationDesc" rows="5" style="width:620px"></textarea>
        </div>
    </div>
</popup>