<popup width="700" height="530" title="ACL基础数据" show="show">
    <div class="modal-body" id="aclvalidate">
        <div class="inputBar">
            <combbox caption="产品" ng-model="checkItem.AssemblyItem" list="assemblyList" width="310" mustinput="true" ng-disabled="true"></combbox>
            <text-box-normal caption="工序" ng-model="checkItem.OpNo" width="310" mustinput="true" ng-disabled="true"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-normal caption="检验标准" ng-model="checkItem.ItemName" width="310" mustinput="true" maxlength="50"></text-box-normal>
        </div>
        <div class="inputBar">
            装配要求<br />
            <textarea id="textarea" ng-model="checkItem.Requirement" rows="3" style="width:640px"></textarea>
        </div>
        <div class="inputBar">
            <combbox caption="检查方法" ng-model="checkItem.CheckMethod" list="checkMethodList" width="310" mustinput="true"></combbox>
            <combbox caption="录入方式" ng-model="checkItem.InputMethod" list="inputMethodList" width="310" mustinput="true"></combbox>     
        </div>
        <div class="inputBar">
            <text-box-number caption="检验标准版本" ng-model="checkItem.Revision" width="310" mustinput="true"></text-box-number>
            <text-box-normal caption="工装/量具" ng-model="checkItem.ToolName" width="310"></text-box-normal>           
        </div>
        <div class="inputBar">      
            <text-box-number caption="下限值" ng-model="checkItem.LowerLimit" width="145" mustinput="checkItem.InputMethod==2"></text-box-number>
            <text-box-number caption="上限值" ng-model="checkItem.UpperLimit" width="145" mustinput="checkItem.InputMethod==2"></text-box-number>   
            <text-box-normal caption="图片名称" ng-model="checkItem.AttachmentID" width="310"></text-box-normal>
        </div>         
        <div class="inputBar">
            备注<br />
            <textarea id="textarea" ng-model="checkItem.Remark" rows="3" style="width:640px"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="commit()">保存</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>