<div>
    <text-box-normal caption="值" width="300"></text-box-normal>
    <text-box-normal caption="描述" width="300"></text-box-normal>
    <text-box-normal caption="检查方式" width="200"></text-box-normal>
    <button type="button" class="btn bg-green" ng-click="commit()">查询</button>
    <button type="button" class="btn bg-yellow" ng-click="cancel()">清空</button>
</div>
<div>
    <pagegridview config="config" list="Dtalist" refresh="refresh()" add="onNew(menu)" edit="onEdit(menu)"
                  remove="onDelete(items)"
                  pagechange="onPageChange(val)" rowcount="{{more.size}}" totalrowcount="totalCount"></pagegridview>
</div>
<div class="modal-footer" style="text-align:center; padding-right:0;">
    <button type="button" class="btn bg-green" ng-click="import()">导入</button>
    <button type="button" class="btn bg-yellow" ng-click="cancelImport()">取消</button>
</div>
<dtalist-edit after-commit="afterCommit(res)"></dtalist-edit>