<popup width="700" height="500" title="电装关键件录入编辑" show="show">
    <div class="modal-body" id="validate">
        <div class="inputBar">
            <text-box-normal caption="加工序列号" ng-model="opk.SerialNo" width="400" mustinput="true" ng-disabled="mode=='edit'" onblur="onJobBlur(opk.SerialNo)"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-normal caption="产品序列号" ng-model="opk.ProductNo" width="400" mustinput="true" ng-disabled="mode=='edit'"></text-box-normal>
        </div>
        <div class="inputBar" ng-repeat="item in opk.keyPartList">
            <text-box-normal caption="{{item.KeypartName}}" ng-model="item.KeyPart" placeholder="" width="400" onblur="onKeyPartBlur(item)"></text-box-normal>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="commit()">保存</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>