<div class="top_search_bar" id="selvalidate">   
    <combbox caption="产品名称" ng-model="condition.assemblyItem" list="assemblyList" width="280" mustinput="true"></combbox>
    <combbox caption="录入方式" ng-model="condition.inputmethod" list="inputmethodList" width="170"></combbox>
    <text-box-normal caption="泡泡图编号" width="200" ng-model="condition.itemname"></text-box-normal>
    <button type="button" ng-click="onResearch()" class="btn bg-green" style="margin-right:10px">查询</button>
    <file-upload-button caption="导入" url="uploadUrl" beforeload="beforeLoad()" style="margin-right:10px"></file-upload-button>
    <button type="button" class="btn bg-maroon" style="margin-right:10px" ng-click="export()"><i class="fa fa-cloud-download"></i>&nbsp;导出</button>
    <button type="button" class="btn bg-maroon" style="margin-right:10px" ng-click="downTemplateFile()"><i class="fa fa-cloud-download"></i>下载模板</button>
</div>
<div>
    <pagegridview config="config"
                  list="qpList"
                  refresh="refresh()"
                  add="add()"
                  edit="edit(item)"
                  remove="onDelete(items)"
                 pagechange="onPageChange(val)"
                rowcount="{{more.size}}" totalrowcount="totalCount"
                 
                  >
    </pagegridview>
</div>
<qbcheckitem-edit after-commit="afterCommit(res)"></qbcheckitem-edit>