<div class="top_search_bar" id="selValidate">
    <date-input-double caption="工单日期" datefrom="condition.dateFrom" dateto="condition.dateTo" width="350" mustinput="true"></date-input-double>   
    <assembly ng-model="condition.assemblyItem" mustinput="true"></assembly>
    <text-box-normal caption="加工序列号" ng-model="condition.selSerialNo" width="200"></text-box-normal>
    <text-box-normal caption="产品序列号" ng-model="condition.selProductNo" width="200"></text-box-normal>
    <button type="button" ng-click="onResearch()" class="btn bg-green" style="margin-right:10px">查询</button> 
    <button type="button" class="btn bg-maroon" style="margin-right:10px" ng-click="export()"><i class="fa fa-cloud-download"></i>&nbsp;导出</button>
</div>
<div> 
    <pagegridview config="config"
                  list="keyPartList"
                  refresh="refresh()"
                  btnicon4="fa fa-plus"
                  btnclick4="add()"
                  btnicon2="fa-pencil-square-o"
                  btnclick2="edit(item)"
                  ng-disabled="true"
                  pagechange="onPageChange(val)"
                  rowcount="{{more.size}}" totalrowcount="totalCount">
    </pagegridview>
</div>
<opkp-edit after-commit="afterCommit(res)"></opkp-edit>