<popup width="700" height="500" title="ACL基础管理" show="show">
    <div class="modal-body" id="validate">
        <div class="inputBar">
            <combbox caption="产品" ng-model="qp.AssemblyItem" list="assemblyList" width="200" mustinput="true"></combbox><!--on-change="assemblyChange(val)"-->
            <!--<text-box-normal caption="工位" ng-model="standard.OpNo" width="300" mustinput="true"></text-box-normal>-->     <combbox caption="工位" ng-model="qp.StationID" on-change="GetStationName(val)" list="stationList" width="200" mustinput="true"></combbox>
        </div>      
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="commit()">保存</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>