<popup width="600" height="400" title="商户基本信息" show="show">
<div class="modal-body" id="validate">
	<div class="inputBar">
		<text-box-normal caption="商户名称" ng-model="basic.name" width="300"
			mustinput="true"></text-box-normal>
	</div>
	<div class="inputBar">
		<text-box-normal caption="小区" ng-model="basic.comid" width="300"
			mustinput="true"></text-box-normal>
	</div>
	<div class="inputBar">
		<text-box-normal caption="等级" ng-model="basic.lv" width="300"
			mustinput="true"></text-box-normal>
	</div>
	<div class="inputBar">
		<combbox caption="状态" ng-model="basic.state" width="300"
			list="DMStateList" mustinput="true"></combbox>
	</div>
	<div class="inputBar">
		<text-box-normal caption="电话" ng-model="basic.tel" width="300"
			mustinput="true"></text-box-normal>
	</div>
	<div class="inputBar">
		<text-box-normal caption="简介" ng-model="basic.dmdesc" width="300"
			mustinput="true"></text-box-normal>
	</div>
	<div class="inputBar">
		<text-box-normal caption="图片" ng-model="basic.pictureid" width="300"
			mustinput="true"></text-box-normal>
	</div>
	<div class="inputBar">
		<text-box-normal caption="起送价" ng-model="basic.startprice" width="300"
			mustinput="true"></text-box-normal>
	</div>
	<div class="inputBar">
		<text-box-normal caption="配送费" ng-model="basic.dispatching"
			width="300" mustinput="true"></text-box-normal>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn bg-green" ng-click="commit()">保存</button>
	<button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
</div>
</popup>