<popup width="600" height="400" title="菜单管理" show="show">
    <div class="modal-body" id="validate">
        <div class="inputBar">
            <text-box-normal caption="ID" ng-model="menu.id" width="200" mustinput="true"></text-box-normal>
        </div>
        <div class="inputBar">
            <combbox caption="上级菜单" ng-model="menu.parentId" list="parentMenuList" width="300" mustinput="true"></combbox>
        </div>
        <div class="inputBar">
            <text-box-normal caption="菜单名称" ng-model="menu.menuTitle" width="300" mustinput="true"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-normal caption="图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标" ng-model="menu.iconName" width="300"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-normal caption="链&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;接" ng-model="menu.pageName" width="300"></text-box-normal>
        </div>
        <div class="inputBar">
            <text-box-number caption="排&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;序" ng-model="menu.seqNo" width="150" mustinput="true"></text-box-number>
        </div>
        <div class="inputBar">
            <control-container width="200" caption="有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;效">
                <check-box ng-model="menu.deleteFlag" checkedvalue="0" uncheckedvalue="1"></check-box>
            </control-container>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="commit()">保存</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>