<style>
.photoList img {
	width: 150px;
	height: 150px;
	float: left;
	margin: 5px;
	border: 1px solid #3b3b3b;
}
</style>
<div class="top_search_bar">
  <button class="select-btn" ng-click="searchTypeSelect(1)" ng-class="{'select-btn-active':condition.searchType==1}">已入库</button>
  <button class="select-btn" ng-click="searchTypeSelect(2)" ng-class="{'select-btn-active':condition.searchType==2}">未入库</button>
</div>
<div class="photoList" ng-if="condition.searchType==1">
  <div class="area-border" ng-repeat="type in typeList">
    <div class="box box-danger wip-group">
      <div class="box-header with-border">
        <h4 class="box-title">{{wip.WIPID}}台/天</h4>
      </div>
      <div class="box-body">
        <img src="{{photo.src}}" ng-repeat="photo in type.photoList" />
        <div style="clear: both;"></div>
      </div>
    </div>
  </div>
</div>

<div class="photoList" ng-if="condition.searchType==2">
  <div class="area-border">
    <div class="box box-danger wip-group">
      <div class="box-header with-border">
        <h4 class="box-title">未入库</h4>
      </div>
      <div class="box-body">
        <img id="{{'img' + $index}}" src="http://law02.gotoip55.com/images/csgimg/{{photo.name}}" ng-repeat="photo in photoList track by $index"  ng-dblclick="imageClick($index,photo)" />
        <div style="clear: both;"></div>
      </div>
    </div>
  </div>
</div>
<photoedit />