<popup width="600" height="400" title="小区信息" show="show">
<div class="modal-body" id="validate">
	<div class="inputBar">
			 <combbox caption="街道名称" ng-model="community.roadid" list="rodeList" width="300" mustinput="true"></combbox>
	</div>
		<div class="inputBar">
		<text-box-normal caption="小区名" ng-model="community.name" width="300"
			mustinput="true"></text-box-normal>
	</div>
			<div class="inputBar">
		<text-box-normal caption="地址" ng-model="community.address" width="300"
			mustinput="true"></text-box-normal>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn bg-green" ng-click="commit()">保存</button>
	<button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
</div>
</popup>