<style>
    .table-list {
        width: 100%;
        table-layout: fixed;
    }
    .table-list td {
        height: 40px;
        border: 1px solid #3b3b3b;
        background: #66CD00;
        color: #fff;
        padding: 5px;
        cursor: pointer;
    }
    .table-selected {
        background: #FF6347 !important;
    }
</style>
<div class="top_search_bar">
    <file-upload-button caption="导入" url="uploadUrl" beforeload="true" afterupload="afterLoad(res)"></file-upload-button>
    <button type="button" class="btn bg-maroon" ng-click="export()"><i class="fa fa-cloud-download"></i>&nbsp;导出</button>
    <button type="button" class="btn bg-green" ng-click="selectAll()"><i class="fa fa-check"></i>&nbsp;全选</button>
    <button type="button" class="btn bg-yellow" ng-click="cleanAll()"><i class="fa fa-times"></i>&nbsp;清空</button>
</div>
<div>
    <table class="table-list">
        <tr ng-repeat="tables in tableList">
            <td ng-repeat="table in tables" ng-click="tableSelect(table)" ng-class="{'table-selected': table.selected}">{{table.TableName}}<br />{{table.TableNameEn}}</td>
        </tr>
    </table>
</div>
