<style>
    .table-list {
        width: 100%;
        table-layout: fixed;
    }

    .table-list td {
        height: 40px;
        border: 1px solid #3b3b3b;
        background: #66CD00;
        color: #fff;
        padding: 5px;
        cursor: pointer;
    }

    .table-selected {
        background: #FF6347 !important;
    }
    .base-info-id {
        width: 40px;
        background: #6CA6CD !important;
    }
    .base-info {
        width: 200px;
        background: #6CA6CD !important;
    }

    .data-info {
        width: 100px;
    }
</style>
<div class="top_search_bar">
    <file-upload-button caption="导入" url="uploadUrl" beforeload="true" afterupload="afterLoad(res)"></file-upload-button>
    <button type="button" class="btn bg-maroon" ng-click="export()"><i class="fa fa-cloud-download"></i>&nbsp;导出</button>
</div>
<div>
    <table class="table-list">
        <tr ng-repeat="dic in dataDicList" ng-click="rowSelect(dic)">
            <td class="base-info-id">{{dic.ID}}</td>
            <td class="base-info">{{dic.TableName}}</td>
            <td class="base-info">{{dic.DicDesc}}</td>
            <td class="data-info" ng-repeat="item in dic.itemList" ng-class="{'table-selected': dic.selected}">{{item.SubID}}<br />{{item.ItemName}}</td>
        </tr>
    </table>
</div>
