<popup width="600" height="400" title="商品基本信息" show="show">
<div class="modal-body" id="validate">
	<div class="inputBar">
		<text-box-normal caption="商品名称" ng-model="commodity.name" width="300"
			mustinput="true"></text-box-normal>
	</div>
	<div class="inputBar">
	 <combbox caption="商品分类" ng-model="commodity.classify" list="ClassifyList" width="300" mustinput="true"></combbox>
	</div>
	<div class="inputBar">
	 <combbox caption="商品图片" ng-model="commodity.pictureid" list="PictureList" width="300" mustinput="true"></combbox>
	</div>
	<div class="inputBar">
		<text-box-number caption="商品价格" ng-model="commodity.price" width="300"
			mustinput="true"></text-box-number>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn bg-green" ng-click="commit()">保存</button>
	<button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
</div>
</popup>