<popup width="600" height="400" title="职位管理" show="show">
    <div class="modal-body" id="validate">
        <div class="inputBar">
            <text-box-normal caption="职位名称" ng-model="role.rolename" width="300" mustinput="true"></text-box-normal>
            {{role.roleName}}
        </div>
        <div class="inputBar">
            <control-container width="200" caption="新建权限">
                <check-box ng-model="role.cancreate" checkedvalue="0" uncheckedvalue="1"></check-box>
            </control-container>
        </div>
        <div class="inputBar">
            <control-container width="200" caption="编辑权限">
                <check-box ng-model="role.canedit" checkedvalue="0" uncheckedvalue="1"></check-box>
            </control-container>
        </div>
        <div class="inputBar">
            <control-container width="200" caption="删除权限">
                <check-box ng-model="role.candelete" checkedvalue="0" uncheckedvalue="1"></check-box>
            </control-container>
        </div>
        <div class="inputBar">
            <control-container width="200" caption="有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;效">
                <check-box ng-model="role.deleteflag" checkedvalue="0" uncheckedvalue="1"></check-box>
            </control-container>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-green" ng-click="commit()">保存</button>
        <button type="button" class="btn bg-yellow" ng-click="cancel()">取消</button>
    </div>
</popup>